:root {
    --cor-um: #fffcf6;
    --cor-dois: #f9b295;
    --cor-tres: #ee886f;
    --cor-quatro: #ffe8c1;
    --cor-cinco: #b9e2de;
    --cor: #7abfc2;
}

/* Estilos base (mobile first) */
nav {
    background-color: var(--cor-um);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

nav img {
    width: 45%;
    height: auto;
}

.link-telagrande {
    display: none;
}

.dropdown{
    display: none;
}

.hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    position: relative;
    z-index: 2;
}

.hamburger-line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--cor-tres);
    border-radius: 10px;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

.hamburger.active .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .hamburger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navbar {
    position: relative;
}

.nav-list {
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0.5rem 0;
    background-color: white;
    position: absolute;
    right: 0;
    min-width: 150px;
    max-width: 200px;
    border-radius: 10px;
    border-top: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 90;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.nav-list.active {
    display: flex;
    opacity: 1;
    transform: translateY(-10px);
}

.nav-list li {
    width: 100%;
    margin: 0;
}

.nav-list a {
    display: block;
    color: var(--cor-tres);
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    transition: background-color 0.2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-family: "Rethink Sans", sans-serif;
}

.nav-list a:hover {
    background-color: var(--cor-dois);
    color: white;
}

.banner{
    position: relative;
    text-align: left;
}

.topo-titulo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;

}

.titulo{
    color: var(--cor-tres);
    font-family: "Rethink Sans", sans-serif;
    font-weight: 100;
    font-size: 25px;
    margin-left: 10px;
    margin: 20px;
}

.topo-titulo a{
    color: gray;
    border: solid 1px gray;
    padding: 5px;
    border-radius: 8px;
    text-decoration: white;
    font-size: 10px;
    margin-left:10px ;
}

.topo-titulo a:hover{
    background-color: gray;
    color: white;
}

.disabled{
    display: flex;
    align-items: center;
}

.container-cards{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.cards-servicos{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.cards-servicos::-webkit-scrollbar {
  display: none; /* Esconde a barra de rolagem */
}

.card-track{
    display: flex;
    transition: transform 0.3s ease;
}

.card{
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    margin: 5px;
    overflow: hidden;
    flex: 0 0 auto;
    width: 35% !important;
    padding-bottom: 10px !important;
    flex-grow: 1;
    box-sizing: border-box;
    border: none !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card img{
    width: 100%;
    height: 70%;
}

.card-body{
    padding: 10px !important;
    color: #00676d !important;
}

.button {
    display: none;
    gap: 1rem;
    margin-top: 1rem;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
}

.scroll-btn {
    background-color: gray;
    opacity: 50%;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 150%;
    width: 40px;
}

.cards-servicos::-webkit-scrollbar {
    display: none; /* opcional: esconde scrollbar */
}

.btn-primary{
    background-color: var(--cor-dois) !important;
    border: var(--cor-tres) !important;
}

.btn-primary:hover{
    background-color: var(--cor-tres) !important;
    color: var(--cor-um) !important;
}

footer{
    background-color: var(--cor-um);
}
.footer{
    display: flex;

}

.footer-img{
    display: flex;
    justify-content: flex-start;
    width: 40%;
}

.footer-img img{
    width: 80%;
}

.footer-icones{
    display: flex;
    justify-content: center;
}

.footer-icones a{
    margin: 10px;
}

.footer-icones a img{
    width: 20px;
    background-color: var(--cor);
    border-radius: 100%;
    padding: 10px;
    display: inline-block;
    box-sizing: content-box;
}

.footer-direitos{
    text-align: center;
    font-family: "Rethink Sans", sans-serif;
    font-size: 15px;
}

.container-quemsomos{
    display: flex;
    justify-content:center;
    flex-direction: column;
    background-color: var(--cor-cinco);
    padding: 15px; 
    margin: 100px 0 50px 0;   
    width: 100;
}

.quemsomos-img{
    align-content: center;

}

.quemsomos-img img{
    width:100%;
}

.quemsomos-texto{
    font-family: "Rethink Sans", sans-serif;
    text-align: center;
    color: var(--cor-dois);
    padding-top: 20px;
}

.quemsomos-texto h3{
    font-size: 30px;
}

.quemsomos-texto p{
    font-size: 15px;
    font-weight: 500;
}

.container-cards2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 5px 30px 5px;
}

.container-contato{
    display: flex;
    justify-content: center;

}

#card-contato{
    margin: 50px;
}

.contatos{
    display: flex;
    justify-content: left;
    text-align: center;
}

.contatos img{
    width: 7%;
    padding: 5px;
    margin-left: 15px;
    font-family: "Rethink Sans", sans-serif;
}

/* Estilos para telas maiores (desktop) */
@media (min-width: 769px) {
    nav img {
        width: 20%;
        height: auto;
    }

    .hamburger {
        display: none;
    }

    .link-telagrande {
        display: flex;
        justify-content: center;
    }

    .link-telagrande a {
        padding: 0 30px;
        font-family: "Rethink Sans", sans-serif;
        font-size: 25px;
        color: var(--cor-tres);
        border-radius: 10px;
    }

    .link-telagrande a:hover {
        background-color: var(--cor-tres);
        color: var(--cor-um);
        text-decoration: none;
    }

    .nav-list {
        display: flex !important;
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
        opacity: 1;
        transform: none;
    }

    .nav-list li {
        margin-left: 2rem;
        width: auto;
    }

    .nav-list a {
        color: white;
        padding: 0.5rem 0;
        font-family: "Rethink Sans", sans-serif;
    }

    .nav-list a:hover {
        color: #ddd;
        background: none;
    }

.button {
    display: block;
    justify-content:space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}


.topo-titulo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;

}

.link-telagrande a{
    text-decoration: none;
    font-family: 'rethink sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dropdown button{
    background-color: var(--cor-um) !important;
    color: var(--cor-tres) !important;
    border: none;
    font-family: 'rethink sans', sans-serif !important;
    font-size: 25px !important;
    font-weight: 300 !important;
}


.dropdown ul li a{
    font-family: 'rethink sans', sans-serif !important;
    font-size: 15px !important;
    font-weight: 100 !important;
}

.dropdown ul li a:hover{
    background-color: var(--cor-tres) !important;
    color: var(--cor-um) !important;
}

.titulo{
    color: var(--cor-tres);
    font-family: "Rethink Sans", sans-serif;
    font-weight: 100;
    font-size: 40px;
    margin-left: 10px;
    margin: 20px;
}

.topo-titulo a{
    color: gray;
    border: solid 1px gray;
    padding: 5px;
    border-radius: 8px;
    text-decoration: white;
    font-size: 15px;
    margin-left:10px ;
}

.container-cards{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.cards-servicos{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.cards-servicos::-webkit-scrollbar {
  display: none; /* Esconde a barra de rolagem */
}

.card-track{
    display: flex;
    transition: transform 0.3s ease;
}

.card{
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    margin: 5px;
    overflow: hidden;
    flex: 0 0 auto;
    width: 50% !important;
    padding-bottom: 10px !important;
    flex-grow: 1;
    border: none !important;
}

.cards-servicos::-webkit-scrollbar {
    display: none; /* opcional: esconde scrollbar */
}

.btn-primary{
    background-color: var(--cor-dois) !important;
    border: var(--cor-tres) !important;
}

.btn-primary:hover{
    background-color: var(--cor-tres) !important;
    color: var(--cor-um) !important;
}

footer{
    background-color: var(--cor-um);
}
.footer{
    display: flex;

}

.footer-img{
    display: flex;
    justify-content: flex-start;
    width: 40%;
}

.footer-img img{
    width: 40%;
}

.footer-icones{
    display: flex;
    justify-content: center;
}

.footer-icones a{
    margin: 10px;
}

.footer-icones a img{
    width: 20px;
    background-color: var(--cor);
    padding: 15px;
    display: inline-block;
    box-sizing: content-box;
}

.footer-direitos{
    text-align: center;
    font-family: "Rethink Sans", sans-serif;
    font-size: 15px;
}

.container-quemsomos{
    display: flex;
    justify-content:center;
    flex-direction: row;
    background-color: var(--cor-cinco);
    padding: 15px; 
    margin: 100px 0 50px 0;   
    width: 100%;
}

.quemsomos-img{
    align-content: center;
    width: 50%;

}

.quemsomos-img img{
    width:95%;
}

.quemsomos-texto{
    font-family: "Rethink Sans", sans-serif;
    text-align: center;
    color: var(--cor-dois);
    padding-top: 20px;
    width: 50%;
    justify-content: center;
}

.quemsomos-texto h3{
    font-size: 40px;
    padding: 15px;
}

.quemsomos-texto p{
    font-size: 25px;
    font-weight: 500;
}

.container-cards2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 5px 30px 5px;
}

.container-contato{
    display: flex;
    justify-content: center;

}

#card-contato{
    margin: 50px;
}

.contatos{
    display: flex;
    justify-content: left;
    text-align: center;
}

.contatos img{
    width: 7%;
    padding: 5px;
    margin-left: 15px;
    font-family: "Rethink Sans", sans-serif;
}

}